<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit record</title>
    <link rel="stylesheet" href="/css/edit.css">

  </head>
  <body>
    <form method="POST" action="/edit/<%= book.id %>?_method=PUT">
      <div>
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" id="isbn" value="<%= book.isbn %>" />
      </div>
      <div>
        <label for="author">Author:</label>
        <input
          type="text"
          name="author"
          id="author"
          value="<%= book.author %>"
        />
      </div>
      <div>
        <label for="publisher">Publisher:</label>
        <input
          type="text"
          name="publisher"
          id="publisher"
          value="<%= book.publisher %>"
        />
      </div>
      <div>
        <label for="category">Category:</label>
        <select id="category" name="category">
          <% categories.forEach((category) => { %>
            <option value="<%= category.categoryID %>" <%= book.tblcategorybook_categoryID == category.categoryID ? "selected" : "" %>><%= category.categoryname %></option>
          <% }) %>
        </select>
        
      </div>
      <div>
        <input type="submit" value="Update" />
      </div>
    </form>
  </body>
</html>
